* {
    border: 0;
    margin: 0;
    box-sizing:border-box;
}
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}
.calculator {
    display: flex;
    flex-direction: column;
    height: 408px;
    width: 308px;
    flex-shrink: 0;
    border: 2px solid red;
}
.below {
    display: flex;
    flex-shrink: 0;

}
.function{
    display: flex;
    flex-direction: column;
    width: 75px;
    height: 300px;
    margin-left: 2px;
}
.num {
    display: flex;
    flex-direction: column;
    width: 225px;
    height: 300px;
    flex-wrap:wrap;

}
.function button {
    font-size: 1.5rem;
    height: 50px;
    width: 73px;
}
.num button {
    font-size: 3rem;
    min-width: 72px;
    min-height: 96px;
}
.answers {
    display: flex;
    flex-direction:column;
    margin: 2px;
    border: 10px solid lightgray;
    height: 100px;
    min-width: 300px;
    flex-shrink: 0;
    justify-content: right;
}
button {
    background-color: lightgray;
    margin: 2px;
}
.answer, .running {
    align-self:flex-end;
    border: 2px solid red;

}